{% extends 'base.html' %}
{% block Home %} Documentation
{% endblock Home %} 

{% block body %}

<dic class="container2">
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="/static/img/doc0.jpg"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
             <a href="#" >
              <ol><li>Browse features</li>





<li>Teacher quick guide</li>
<li>Admin quick guide</li>
<li>Installation quick guide
</li></ol></a>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Get Started</button>
                  
                </div>
             
              </div>
            </div>
          </div>
        </div>
                <div class="col">
          <div class="card shadow-sm">
          
            <img src="/static/img/doc1.jpg"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
            <a href="#" >
              <ol><li>Set up your course</li>



<li>Add students</li>
<li>Track progress</li>
<li>Upload files</li></ol></a>
             
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Manage Your course</button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
                <div class="col">
          <div class="card shadow-sm">
            
            <img src="/static/img/doc2.jpg"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
             <a href="#">
              <ol><li>Use assignments to assess</li>



<li>Discuss in forums</li>
<li>Test students with a quiz</li>
<li>Peer-assess with a workshop</li></ol></a>
             
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add activity</button>
                
                </div>
                
              </div>
            </div>
          </div>
        </div>
                <div class="col">
          <div class="card shadow-sm">
           
            <img src="/static/img/doc3.jpg"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
            <a href="#" >
              <ol><li>For teachers</li>



<li>For students</li>
<li>For admins</li>
<li>Mobile</li></ol></a>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">What's new</button>
                  
                </div>
            
              </div>
            </div>
          </div>
        </div>
                <div class="col">
          <div class="card shadow-sm">
            
            <img src="/static/img/doc4.jpg"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
               <a href="#" >
              <ol><li>Add users</li>







<li>Add courses</li>
<li>Change the look and feel</li>
<li>Install plugins</li></ol></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Manage your site</button>
                  
                </div>
              
              </div>
            </div>
          </div>
        </div>
                <div class="col">
          <div class="card shadow-sm">
            
            <img src="/static/img/doc5.jpg"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
               <a href="#" >
              <ol><li>View app features</li>






<li>Keep up-to-date with notifications</li>
<li>Create mobile-friendly courses</li>
<li>Add more app features</li></ol></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">More about</button>
                  
                </div>
             
              </div>
            </div>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
