{% extends 'base.html' %}
{% block Home %} home
{% endblock Home %}

{% block body %}

<div class="container1">
    <div class="p-5 mb-4 bg-primary rounded-3">

        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Get Started</h1>
            <p class="col-md-8 fs-4">world's most popular learning management system. Start creating your online
                learning site in minutes!</p>
            <button class=" btn-warning btn-lg" type="button">GET STARTED TODAY</button>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Community driven, globally supported.</h2>
                {% comment %} <p>Swap the background-color utility and add a `.text-*` color utility to mix up the
                    jumbotron look. Then, mix and match with additional component themes and more.</p> {% endcomment %}
                <button class="btn btn-outline-light" type="button">COMMUNITY FORUMS</button>
            </div>
        </div>
        <div class="col-md-6 m-20px background">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Help us make a difference with open and quality education for all</h2>
                {% comment %} <p>Or, keep it light and add a border for some added definition to the boundaries of your
                    content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and
                    sizing of both column's content for equal-height.</p> {% endcomment %}
                <button class="btn btn-outline-secondary" type="button">DONATE</button>
            </div>
        </div>
    </div>
</div>

<div class="card m-0 px-2 pb-3 bg-secondary border-1 focusblock"></div>
<div class="container">
    <div class="row border-4">
        <div class="col ">
            <div class="card-body bg=dark">
                <div class="media heading">
                    <div class="media-body">
                        <div class="d-flex border-bottom-dotted align-items-center">
                            <h3>
                                Announcements
                            </h3>
                            <a href="#">
                                <class="text-moodle-gray ml-auto">
                                <i class="icon fa fa-rss fa-fw " aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="media-list list-unstyled">
                    <li class="media mt-3">
                        <div class="media-body">
                            <div class="media-heading mb-1">
                                <a href="#">
                                    release update
                                </a>
                            </div>
                            <div class="muted">
                                <span class="muted text-muted small">
                                    Thursday, 28 October 2021
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="media mt-3">
                        <div class="media-body">
                            <div class="media-heading mb-1">
                                <a href="#">
                                    New UXers update
                                </a>
                            </div>
                            <div class="muted">
                                <span class="muted text-muted small">
                                    Monday, 25 October 2021
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="media mt-3">
                        <div class="media-body">
                            <div class="media-heading mb-1">
                                <a href="#">
                                    Please join us today for the Academy 'Assessment: Exploring Forums' webinar
                                </a>
                            </div>
                            <div class="muted">
                                <span class="muted text-muted small">
                                    Wednesday, 20 October 2021
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>

                <div class="d-flex justify-content-end">
                    <div class="morelink">
                        <a class="btn btn-link btn-sm icon-nomargin" href="#">
                            See all announcements
                            <i class="icon fa fa-angle-double-right fa-fw " aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <div class="media heading">
                    <div class="media-body">
                        <div class="d-flex border-bottom-dotted align-items-center">
                            <h3>
                                Latest news
                            </h3>
                            <a href="#" class="text-moodle-gray ml-auto">
                                <i class="icon fa fa-rss fa-fw " aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="media-list list-unstyled">
                    <li class="media mt-3">
                        <div class="media-body">
                            <div class="media-heading mb-1">
                                <a href="#">
                                    Making the most of Assignments for formative and summative assessment
                                </a>
                            </div>
                            <div class="muted">
                                <span class="muted text-muted small">
                                    Wednesday, 27 October 2021
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="media mt-3">
                        <div class="media-body">
                            <div class="media-heading mb-1">
                                <a href="#">
                                    Customise reporting for your LMS 
                                </a>
                            </div>
                            <div class="muted">
                                <span class="muted text-muted small">
                                    Monday, 25 October 2021
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="media mt-3">
                        <div class="media-body">
                            <div class="media-heading mb-1">
                                <a href="#">
                                   LMS’s commitment to accessibility highlighted by addition of Brickfield
                                    Accessibility Toolkit to suite of Certified Integrations
                                </a>
                            </div>
                            <div class="muted">
                                <span class="muted text-muted small">
                                    Monday, 18 October 2021
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>

                <div class="d-flex justify-content-end">
                    <div class="morelink">
                        <a class="btn btn-link btn-sm icon-nomargin" href="#">
                            See all latest news
                            <i class="icon fa fa-angle-double-right fa-fw " aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<div class="card m-0 px-2 pb-3 bg-primary border-1 focusblock">

</div>
</div>
</div>
</div>
</div>

<div class="container ">
    <div class="row">
        <div class="col">
            <div class="card m-0 pb-4 px-2 border-0 focusblock">
                <div class="card-body settingup">
                    <h4>Setting up</h4>
                    <p>On your own</p>
                    <ul class="list-unstyled alternate" type="square">
                        <li><a href="#">Free download</a></li>
                        <li><a href="#">Installation</a></li>
                        <li><a href="#">Plugins</a></li>
                        <li><a href="#">Community support</a></li>
                    </ul>
                    <p>Via Partner</p>
                    <ul class="list-unstyled alternate" type="square">
                        <li><a href="#">Hosting</a></li>
                        <li><a href="#">Commercial
                                support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-body community">
                <h4>Support and community forums</h4>
                <p>Get support and share ideas, in your own language.</p>
                <ul class="list-unstyled alternate" type="square">
                    <li class="community lang-en">
                        <a href="#">
                            English
                        </a>
                    </li>
                    <li class="community lang-es">
                        <a href="#">
                          Español
                        </a>
                    </li>
                </ul>
                <p class="viewmore"><a href="/community/">All communities</a></p>
            </div>
        </div>
        <div class="col">
            <div class="card-body uptodate">
                <h4>Keep up-to-date</h4>
                <p>Latest news, updates and insight across the world.</p>
                <ul class="list-unstyled alternate" type="square">
                    <li><a href="#">Announcements</a></li>
                    <li><a href="#">Latest news</a></li>
                    <li><a href="#/">Security announcements</a></li>
                    <li><a href="#"> buzz</a></li>
                    <li><a href="#">Social media</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




</div>
</div>

</div>

{% endblock body %}